.inputField{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputField input{
    width: 90%;
    display: block;
    margin: 1 rem 2rem;
    padding: 1rem;
    border-radius: 15px;
    font-family: "roboto", sans-serif;
    font-size: 1rem;
}

.inputField button{
    padding: 1rem 2rem;
    border: 1px solid darkgreen;
    border-radius: 10px;
    margin-top: 1rem;
    background-color: rgba(96, 255, 165, 0.544);
    color: rgb(49, 47, 46);
    font-family: "roboto", sans-serif;
    font-size: larger;
}