

.taskList{
    margin: 20px 0;
}

.taskDiv{
    border: 1px solid gray;
    box-shadow: 1px 1px 4px -2px rgb(0, 255, 247);
    border-radius: 5px;
    padding: 1rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.taskDiv:hover{
    box-shadow: 1px 1px 6px -1px rgb(0, 255, 255);
    cursor: pointer;
  }

.taskDiv input{
    width: 90%;
    margin: 1 rem 2rem;
    padding: 1rem;
    border-radius: 15px;
}

.todoContent{
    font-family: "roboto", sans-serif;
    font-size: 1.2rem;
}

.todoBtn{
    font-family: "roboto", sans-serif;
    font-size: 1.2rem;
}

.todoBtn button{
    margin: 1rem;
    padding: 5px;
    padding: 1rem 1.5rem;
    border: 1px solid darkgreen;
    border-radius: 10px;
    font-size: larger;
}
.editBtn, .saveEditBtn{
    color: rgba(63, 106, 200, 0.981);
}
.deleteBtn, .cancelEdit{
    color: rgba(216, 43, 43, 0.881);
}